h1 {
  font-size: 100px;
  width: 500px;
  background-color: blue;
}

p {
  width: 50%;
  background-color: yellow;
}

body {
  background-color: pink;
  height: 400px;
}

.box {
  background-color: orange;
  width: 50%;
  height: 50%;
}

.con {
  width: 50%;
  height: 50%;
}

.box2 {
  font-size: 60px;
}

.line1 {
  font-size: 50%;
}
.line2 {
  font-size: 30%;
}

.parent {
  width: 80vw;
  height: 80vh;
  background-color: green;
}

.child {
  width: 50vw;
  height: 50vh;
  background-color: greenyellow;
}

.parent-em {
  font-size: 5px;
}

.child-em {
  font-size: 2em;
  width: 2em;
  height: 2em;
  background-color: blueviolet;
}

html {
  font-size: 62.5%;
}

.parent-rem {
  margin-top: 100px;
}
.child-rem {
  font-size: 2rem;
  width: 2rem;
  height: 2rem;
  background-color: yellow;
  border: 0.2rem solid red;
}
